# Build directories
/build/
/out/
/CMakeFiles/
/CMakeCache.txt

# xmake
/.xmake/

# vcpkg
/vcpkg_installed/

# IDE specific
# /.vscode/
/.vs/
/.idea/

# Compiled files
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.obj
*.o

# CMake generated (legacy)
cmake_install.cmake
CMakeCache.txt
*.cmake
!CMakeLists.txt

# Ninja build files (legacy)
.ninja_deps
.ninja_log
build.ninja

# OS specific
.DS_Store
Thumbs.db
.vscode/ltex.dictionary.en-US.txt

# clangd
/.cache/
compile_commands.json
